@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.6%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.6%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0 0% 3.6%;
    --foreground: 0 0% 98%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 98%;
  }
}

@layer base {
  :root {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;

    --card: 240 10% 6%;
    --card-foreground: 0 0% 98%;

    --border: 240 4% 16%;
    --input: 240 4% 16%;

    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 98%;
  }
}
* {
  border-color: hsl(var(--border));
}

